.fact
  min-height: 100vh
  &__wrap
    min-height: 70%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__element
    width: 250px
    margin: 4em 8em
    text-align: center
    transition: .5s
    &:hover
      filter: $glow
    &-image
      margin-bottom: 2em
