.main-section
  &__header
    max-width: min(900px, 90vw)
    margin: 5.5rem auto
    font-family: TRY_Clother_Black, serif
    font-size: 5rem
    text-align: center

  &__image-pixel, &__image-ipad
    position: sticky

  &__image
    &, &-small
      width: 100%
    &-small
      display: none