@media ( max-width: 900px )
  body
    font-size: 0.7rem
  .navigation__controls
    width: 420px
  .fact
    min-height: 70vh
    &__element
      margin: 4em
  .faq
    min-height: 90vh
    padding-bottom: 6em
    &__answer
      margin-left: 1em
    &__question
      margin-left: -1em

@media ( max-width: 768px )
  body
    font-size: 0.5rem

  .navigation
    display: none
    height: 200px
    width: 100vw
    position: absolute
    left: 0
    top: 10em
    padding: 20px 0
    flex-direction: column
    justify-content: space-evenly
    background-color: var(--accent-color)
    opacity: 0.95
    &__controls
      width: 110px
    &__button
      border-color: var(--main-text-color)
      color: var(--main-text-color)
      & .navigation__link
        color: var(--main-text-color)

  .top
    width: 50px
    height: 50px
    bottom: 20px
    right: 20px


  .main-section__header
    margin: 1em auto 1em
    font-size: 3rem

  .fact
    &__element
      margin: 3em auto
    &__header, .faq__header
      font-size: 3rem
    &__wrap
      grid-template-columns: 1fr
      grid-row-gap: 2em

  .faq
    width: 90vw

  .footer
    padding-top: 3em
    justify-content: center
    margin: auto

  .note__preview
    &-close
      right: 4em
    &-header
      margin: 0.5em 1.5em
    &-change-color
      left: 4em


@media  ( max-width: 640px )
  .title
    font-size: 2rem

  .subtitle, .subtitle-bold
    font-size: 1.5rem


  .main-section__image
    display: none
    &-small
      display: block
      padding-bottom: 2em

  .notes
    &__wrapper
      grid-template-columns: 1fr
    &__note
      width: 200px
      height: 200px
      &-add
        width: 240px
        height: 240px

  .note__preview
    &-header
      width: 81vw
      margin-left: 0.8em
      margin-right: 0
      text-align: center
      margin-top: 1.2em
    &-close, &-change-color
      top: 3em
    &-text
      width: 85vw

  .header__logo
    width: 200px

  .menu
    display: block

  .fact__element
    width: 75vw
    display: flex
    align-items: center
    &-image
      margin-bottom: 0
      width: 65px
      padding-right: 2em