.animate
  transition: background .3s ease-out, color .3s ease-out

.top
  position: fixed
  background: none
  border: none
  bottom: 30px
  right: 30px
  z-index: 10
  translate: .3s

.wrap
  width: $width
  margin: auto

.title
  margin-bottom: 1.5em
  margin-top: 0
  padding-top: 1em
  font-family: TRY_Clother_Regular, serif
  font-size: 4rem
  text-align: center

.subtitle
  font-family: TRY_Clother_Regular, serif
  font-size: 2rem
  word-break: break-word
  &-bold
    font-family: TRY_Clother_Bold, serif
    font-size: 2rem

.visible
  visibility: visible
  opacity: 1
  transition: .2s